# Credenciales del monitor HTTP
MONITOR_AUTH_USER=dynatek
MONITOR_AUTH_PASSWORD=dynatek

# Branding opcional del monitor
MONITOR_UNIT_NAME=Manejadora #01
MONITOR_TAGLINE=BMS | Aseguramos confort y control preciso
MONITOR_LOGO_PATH=/home/dynatek/dynatek_.png
